@{
    Layout = "~/Views/Site/_SiteMasterLayout.cshtml";
}
@model NEST.Models.ContentBody

<h1>About Patrick</h1>

<p>Patrick Murphy currently serves as Vice President of Coastal Environmental Services, which specializes in disaster relief and environmental cleanup. In 2010, Patrick spent six months in the Gulf of Mexico leading the company's efforts to remove oil spilled during the BP disaster. Coastal Environmental is an affiliate of Coastal Construction, one of the leading construction firms in the country and has been named one of the nation’s top “Green Contractors". </p>

<p>Patrick was born and raised on the Florida Coast. He spent much of his early life on construction sites and worked as a day laborer while going to college.  After earning dual bachelor’s degrees from the University of Miami in accounting and finance, Patrick joined the respected accounting firm of Deloitte and Touche as a CPA, where he served as an external auditor of Fortune 500 companies.  Patrick is also the Co-Chair of Coastal Cares, which guides the firm's philanthropic work for local and regional charities, such as the Boys & Girls Club, United Way, Camillus House, and Education Fund/Teach-A-Thon.</p>


