@model NEST.Models.Registrant
@{
    Layout = "~/Views/Shared/_SiteMasterSubpageLayout.cshtml";
    ViewBag.Title = "Join";
}

<h1>Join</h1>
<br /><br />
<iframe src="https://services.myngp.com/ngponlineservices/EmailSignup.aspx?X=MIuiIrZknB8%3d" width="700" height="1000"></iframe>
